body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.container {
    padding: 0 150px;
}

h1, h2, h3, p {
    margin: 0;
}

.header {
    background-color: #293f50;
    padding: 40px 0;
}

.header-top {
    display: flex;
}

.header-right {
    width: 100%;
    padding-top: 40px;
}

.header-bottom {
    padding: 22px 80px 66px 80px;
}

.main-title {
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 44px;
}

.dates {
    font-size: 21px;
    font-weight: 300;
    color: #648880;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
}

li {
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

.dates {
    text-align: right;
}

.dedicated-to {
    font-size: 36px;
    color: #648880;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.every-year {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    line-height: 1.8;
}