* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #648880;
}

p {
    color: #888;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: #293f50;
    padding-top: 50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-right {
    margin-left: 115px;
}

.logo {
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 44px;
    color: #fff;
}

.dates {
    font-size: 21px;
    font-weight: 300;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

.nav {
    list-style: none;
    color: #fff;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav-top {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 25px;
}

li {
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

li:hover {
    color: #648880;
    cursor: pointer;
}

li a:hover {
    color: #648880;
    cursor: pointer;
}

.header-bottom {
    padding-bottom: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dedicated-to {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    display: grid;
    align-items: center;
    margin-bottom: 5px;
}

.every-year {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 20px;
}

.btn {
    font-size: 16px;
    font-weight: 400;
    padding: 25px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.btn:hover {
    background-color: #fff;
    color: #293f50;
}

/* Main */

.main-container {
    display: flex;
    margin: 0 auto;
}

.teaser-one, .teaser-two, .teaser-three {
    width: 33.33%;
    padding: 0 15px;
}

.teaser-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.main-container {
    padding: 60px 0 44px 0;
}

.teaser-title {
    margin-bottom: 20px;
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
}

.teaser-header {
    margin: 20px 0 20px 0;
    font-size: 21px;
    font-weight: 300;
}

.teaser-link {
    text-decoration: none;
}

.teaser p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}

/* Footer */

.footer {
    background-color: #293f50;
}

.footer-container {
    padding: 44px 30px;
    display: flex;
    justify-content: space-between;
}

.nav-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
}

small {
    color: #648880;
}

.not-home {
    padding-top: 44px;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

.not-home h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 22px;
}

.not-home p {
    font-size: 21px;
    line-height: 33px;
    margin-left: 120px;
    margin-right: 120px;

.speaker {
    display: flex;
}

.aaron-irizarry-img {
    display: block;
    border-radius: 50%;
    height: 130px;
}

.speaker-image {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    padding: 22px;
    text-align: center;
}

.speaker-image ul {
    list-style: none;
}

.speaker-image a {
    text-decoration: none;
}